{
    "ac_protocol": 0,
    "ac_model": 1,
    "ac_mode": 0,
    "ac_celsius": true,
    "ac_degrees": 22,
    "ac_fanspeed": 0,
    "ac_swingv": 0,
    "ac_swingh": 0,
    "ac_light": true,
    "ac_beep": true,
    "ac_econo": true,
    "ac_filter": false,
    "ac_turbo": false,
    "ac_quiet": false,
    "ac_sleep": -1,
    "ac_clean": false,
    "ac_clock": -1,
    "ac_power": false,
    "wifi_hostname": "Livingroom AC",
    "wifi_ssid": "My Wifi",
    "wifi_psk": "My Wifi Password",
    "mqtt_server": "192.168.1.4",
    "mqtt_port": 1883,
    "mqtt_base_topic": "homeassistant/",
    "mqtt_use_auth": false,
    "mqtt_username": "",
    "mqtt_password": ""
  }